
/* Gefið með Verkefni, ekki Breyta*/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*Almennt*/

html {
  font-size: 16px;
}

@font-face {
  font-family: "matemasie";
  font-weight: 400;
  src:url("fonts/Matemasie-Regular.ttf"); 
}

@font-face {
  font-family: "open-sans";
  font-weight: 400;
  src:url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "open-sans-bold";
  font-weight: 700;
  src:url("fonts/OpenSans-Bold.ttf");
}

html,
input,
select,
button {
  font-family: open-sans;
}

h1,
h2,
h3,
legend {
  font-family: matemasie;
}

a {
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f3dd99;
}

.wrapper main {
  flex: 1;
}
/* Ekki breyta hér fyrir ofan */



/** Haus á síðum **/
header {
  padding: 1rem;
  text-align: center;
  background-color: #cc99bb;
}

/** Valmynd **/
nav {
  background-color: #eebbdd;
  padding: 1rem;
  border-bottom: 4px solid #cc99bb;
}
nav ul{
  list-style: none;
  text-align: center;
}
nav ul li{
  display: inline-block;
  margin-right: 1rem;
}
nav ul li:last-child {
  margin-right: 0;
}
.valin {
  font-family: open-sans-bold;
}

/** Meginmál og efni forsíðu **/

/** 
TODO: frá og með héðan, það sem ég á eftir að
gera í þessu verkefni 
**/

/**
- Spil
- Laga margins og padding á öllu samhvæmt verkefnalýsingu
**/

img {
  max-width: 100%;

  /* Laga mögulega evh hér */
  border: 5px;
  border-radius: 5px;
}

p,
img,
form{
  margin-bottom: 1rem;
}

main {
  align-content: center;
  padding: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: block;

}
.main-image{
  float:right;
  max-width: 40%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  min-width: 15rem;
  
}

/** Spilasíða, töflustílar **/

table {
  border-spacing:0 ;
  text-align: center;
  
  /* TODO Skilgreina */
}

table img{
  min-width: 6rem;
}

tr:nth-child(odd){
  background-color: #eebbdd;
}
tr:first-child{
  background-color: green
}
tr:last-child{
  background-color:green
}


/** Viðburðir **/
.event{
  margin-bottom: 5rem;
}

.event img{
  float: left;
  width: 40%;
  margin-right: 1rem;
}

.event-link{
  clear:left;
}

/** Skráningarform **/
button{
  border-radius: 5px;
  background-color: #eebbdd;
  padding: 0.5rem 1rem;
  border: #eebbdd;
}
fieldset{
  margin-bottom: 1rem;
  border: none;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="datetime-local"],
select,
textarea,
label{
  display: block;
  width:20rem;
  max-width: 20rem;
  min-height: 2rem;
  border-radius: 0%;
}
label{
  margin-top: 1rem;
}
input[type="checkbox"]{
  display: inline-block;
  border-radius: 0%;
  margin-right: 0.5rem;
}

/** Fótur **/
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #eebbdd;
  border-top: 4px solid #cc99bb;
  text-align: center;
}

footer > section {
  margin-right: 1rem;
  display: inline-block;
  vertical-align: top;
}

footer > section:last-child{
  margin-right: 0;
}

footer dl,
footer ul{
  list-style: none;
}

footer dt{
  font-family: open-sans-bold;
}
footer dd{
  margin-bottom: 1rem;
}
section h2{
  margin-bottom: 1rem;
}
