/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Stillingar */

:root {
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;

  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;

  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1200px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;

  /* Border breiddir */
  --border-width: 1px;
  --border-radius-regular: 5px;
  --border-radius-image: 10px;
  --border-regular: 1px solid #000; /* todo longhand */
  --border-with-background: 4px solid #cc99bb;

  /* Litir */
  /** Litir með nafni **/
  --color-yellow: #f3dd99;
  --color-white: #ffffff;
  --color-purple: #eebbdd;
  --color-purple-dark: #cc99bb;

  /** Litir með notkun **/
  --color-background-primary: var(--color-yellow);
  --color-background-secondary: var(--color-purple);
  --color-background-form: var(--color-white);
  --color-border-with-background: var(--color-purple-dark);

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-family-heading: 'Matemasie-Regular', 'Comic Sans MS', cursive;
}

/* Almennt */

/** Letur og stærðir **/

/*** Grunnstærð er 16px ***/
html {
  font-size: var(--font-size-base);
}

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  font-family: 'Matemasie-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Matemasie-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('woff2');
}

/*** Allt meginmál notar open sans ***/
html,
input,
select,
button {
  font-family: var(--font-family-base);
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/** „Til baka á forsíðu“ hlekkur **/
.back {
  margin-top: var(--spacing);
}

/** Almennt takka útlit, getur virkað á bæði <a> og <button> **/
.button {
  display: inline-block;
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  border: var(--border-regular);
  border-radius: var(--border-radius-regular);
  border-width: var(--border-width);

  background-color: var(--color-background-secondary);
  font-size: 1rem;
  text-decoration: none;
}

/**
 * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
 * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
 * sem grunn og án breytinga.
 * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
 * innan <body>.
 */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);

  width: 100%;
  min-height: 100vh;

  background-color: var(--color-background-primary);
}

.wrapper .wrapper-content {
  flex: 1;

  display: flex;
  gap: var(--spacing);

  padding-left: var(--spacing);
  padding-right: var(--spacing);
  width: 100%;
  max-width: var(--max-width);
}

.wrapper .wrapper-nav {
  flex: 1;
}

.wrapper .wrapper-main {
  flex: 4;
}

/* Það sem fylgir er tillaga að uppbyggingu á selectorum fyrir verkefnið */

/** Haus á síðum **/

header {
  padding: var(--spacing) calc(var(--spacing) * 1.5);
  width: 100%;

  background-color: var(--color-background-secondary);
  border-bottom: var(--border-with-background);
  text-align: center;
}

/** Valmynd **/

nav {
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-bottom: calc(var(--spacing) / 2);
  text-align: left;
}

/** Meginmál og efni forsíðu **/

main {
  width: 100%;
}

/**
 * notum þetta til að fá bil á milli eininga _almennt_
 * en ekki að hver eining þurfi að huga að bili
 */
main > .content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

/*** Inngangsefni á forsíðu ***/

.intro {
  display: flex;
  justify-content: center;
  gap: var(--spacing);
}

.intro img {
  order: 1;

  max-width: var(--max-width-image);
  border-radius: var(--border-radius-image);
}

/** Cards **/

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.cards > .title {
  width: 100%;
  text-align: center;
}

.cards > .content {
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
  flex-wrap: wrap;

  width: 100%;
}

/** Card **/

.card {
  display: flex;
  flex-direction: column;

  /* hér verðum við að reikna út breidd svo að flex-wrap virki */
  width: calc(50% - var(--spacing));
}

.card > .image {
  width: 100%;
}

.card > .image img {
  display: block;

  border-top-left-radius: var(--border-radius-regular);
  border-top-right-radius: var(--border-radius-regular);
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card > .content {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  padding: calc(var(--spacing) / 2);
  border: var(--border-regular);
  border-top: 0;
  border-bottom-left-radius: var(--border-radius-regular);
  border-bottom-right-radius: var(--border-radius-regular);
}

/**
 * notum nýja selectora! brotið niður
 * .card            <- veljum öll .card
 * :not(            <- nema, við viljum ef _ekki_...
 *   :has(> .image) <- .image sem strangt barn .card
 * )                <- endir á :not()
 * > .content       <- sem er strax barn af .card
 * Þ.e.a.s. fyrir .card sem hefur ekki .image, setja border + radíus á allt .content
 */
.card:not(:has(> .image)) > .content {
  border: var(--border-regular);
  border-radius: var(--border-radius-regular);
}

.card > .content > .text {
  flex: 1;
}

.card > .content > .actions {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing);

  margin-top: var(--spacing);
}

/** Fótur **/

footer {
  display: flex;
  justify-content: center;
  gap: var(--spacing);

  padding-top: var(--spacing);
  border-top: 4px solid var(--color-border-with-background);
  width: 100%;

  background-color: var(--color-background-secondary);
  text-align: center;
}

footer > section {
  max-width: var(--max-width-footer-section);
}

footer ul {
  list-style: none;
}

footer h2 {
  margin-bottom: var(--spacing);
}

/*** Opnunartími ***/

dt {
  font-weight: bold;
}

dd {
  margin-bottom: var(--spacing);
}

/** Spilasíða, töflustílar **/

table {
  margin-bottom: var(--spacing);
  border-spacing: 0;
}

table th,
table td {
  padding: calc(var(--spacing) / 2);
  text-align: left;
}

table tr th:first-child,
table tr td:first-child {
  border-top-left-radius: var(--border-radius-regular);
  border-bottom-left-radius: var(--border-radius-regular);
}

table tr th:last-child,
table tr td:last-child {
  border-top-right-radius: var(--border-radius-regular);
  border-bottom-right-radius: var(--border-radius-regular);
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--color-background-secondary);
}

table img {
  width: 100%;
  min-width: var(--min-width-image);
  max-width: var(--max-width-image);
}

table td:last-child {
  white-space: nowrap;
}

/** Viðburðir **/

.event {
  clear: left;

  width: 100%;
  margin-bottom: calc(var(--spacing) * 2);
}

.event .title {
  margin-bottom: var(--spacing);
}

.event .content {
  width: 100%;
}

.event img {
  float: left;

  margin-right: var(--spacing);
  margin-bottom: var(--spacing);
}

.event .register {
  clear: both;
}

/** Skráningarform **/

fieldset {
  border: 0;
}

fieldset legend {
  margin-bottom: var(--spacing);
  font-size: var(--font-size-headings);
}

fieldset input,
fieldset select,
fieldset textarea {
  padding: calc(var(--spacing) * 0.5);
  width: 100%;
  border: var(--border-regular);

  background-color: var(--color-background-form);
}

fieldset input[type='checkbox'] {
  display: inline-block;
  margin-right: calc(var(--spacing) * 0.5);
  width: auto;
}

